
html {
	position: relative;
	height: 100%;
  background: #fff;
}

body {
	max-width: 1000px!important;
	margin: 0 auto;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
	font-size: 18px;
  color: rgba(0,0,0,.8);
  line-height: 1.4;
}

main {
  height: 100%;
  background: #fff;
}

.main-body {
  display: flex;
  margin: 10px;
}

.button {
  vertical-align: middle;
}

.gray-button {
  color: rgba(0,0,0,.44);
}

.green-button {
  color: #02b875;
}
