.home-container {
  border: 1px solid blue;
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.home-content {
  // use of position relative?
  display: flex;
  justify-content: space-between;;
  padding: 35px 0 0 0;
  min-height: 100vh;
  width: 100%;
  max-width: 1000px;
}

.home-stories {
  max-width: 660px;
}

.sidebar {
  padding: 0 0 60px 18px;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
}
