.home-container {
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding: 35px 0 0 0;
  width: 100%;
  max-width: 425px;
  align-items: center;
}

.index-home-content {
  flex-direction: column;
  align-items: center;
}

// .home-content > p {
//   padding-bottom: 30px;
//   margin-right: 10px;
//   max-width: 660px;
//   width: 100%;
// }

.home-stories {
  max-width: 660px;
  width: 100%;
}

.sidebar {
  display: none;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
}

@media (min-width: 225px) {
  .home-content {
    max-width: 769px;
  }
}


@media (min-width: 922px) {
  .sidebar {
    display: inherit;
    width: 340px;
    padding: 0 0 60px 18px;
  }

  .home-content {
    margin-right: 0;
    max-width: 1000px;
  }

  .index-home-content {
    flex-direction: row;
    align-items: flex-start;
  }
}
