.post-story-actions {
  padding-top: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.post-story-actions > button {
  width: 21px;
  height: 21px;
}

.num-likes {
  padding-left: 6.5px;
  font-size: 14px;
  color: rgba(0,0,0,.44)
}
