.overlay-title {
  background-color: #f0f0f0;
  padding: 24px;
  font-size: 18px;
  color: rgba(0,0,0,0.8);
  margin: 0;
  line-height: 1.1;
}

.auth-logo-set {
  display: flex;

  flex-direction: column;
  > * {
    margin: 0 auto;
  }
}

.auth-logo-pic {
  height: 85px;
  width: 85px;
}

.auth-logo-word {
  margin-top: -24px;
  height: 65px;
  width: 151px;
}

.overlay-content {
  padding: 0 32px;
  margin: 24px 0;
  font-size: 16px;
  text-align: left;
  color: rgba(0,0,0,0.6);
  line-height: 1.4;
}

.auth-sets {
  display: flex;
  flex-direction: column;
}

.auth-button {
  width: 100%;
  margin: 0 auto 10px;
  border-radius: 2px;
  font-size: 16px;
  text-align: left;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 456px;
  height: 58px;
  vertical-align: middle;
}

.guest-button {
  background-color: #55acee;
  color: #fff;
}

.signin-button {
  background-color: #3b5998;
  color: #fff;
}

.signup-button {
  height: 44px;
  padding: 0;
  color: #00ab6b;
  font-size: 15px;
  margin-top: 15px;
  margin: 0 auto 10px;
  margin-top: 15px!important;
  text-align: center;
}

.signup-button:hover {
  text-decoration: underline;
}


.auth-privacy-msg {
  text-align: left;
  margin: 40px 32px 20px 32px;
  font-size: 14px;
  color: rgba(0,0,0,0.44);
}
