.overlay-title {
  border: 1px solid blue;
  background-color: #f0f0f0;
  padding: 24px;
  font-size: 18px;
  color: rgba(0,0,0,0.8);
}

.auth-logo-set {
  display: flex;

  flex-direction: column;
  > * {
    margin: 0 auto;
  }
}

.auth-logo-pic {
  height: 85px;
  width: 85px;
}

.auth-logo-word {
  height: 100px;
  width: 100px;
}

.overlay-content {
  border: 1px solid green;
  padding: 0 32px;
  margin: 24px 0;
  font-size: 16px;
  text-align: left;
  color: rgba(0,0,0,0.6);
  line-height: 1.4;
}

.auth-sets {
  border: 1px solid pink;
}

.auth-button {
  border: 1px solid purple;
}

.auth-privacy-msg {
  border: 1px solid yellow;
}
