.story-index {

}

.story-index-item {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px 20px 15px 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}

.story-index-profile {
  display: flex;
  margin-bottom: 5px;
}

.author-info {
  border: 1px solid blue;
  margin: 4px;
}

.author-info > li {
  border: 1px solid red;
  margin: 4px;
}

.story-index-content {
  border: 1px solid purple;
  margin: 4px;
}

.content-detail {
  border: 1px solid pink;
  margin: 4px;
}

.content-detail > li {
  border: 1px solid red;
  margin: 4px;
}
