.story-header {
  border: 1px solid red;
  margin: 4px;
  display: flex;
}

.story-content {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
}

.story-content * {
  border: 1px solid blue;
  margin: 4px;
}
