.story-content-container {
  margin: 0 auto;
  max-width: 740px;
  padding-right: 20px;
  padding-left: 20px;
}

.story-show-header {
  padding: 35px 0 10px 0;
  display: flex;
  font-size: 15px;
}

.instory-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.story-detail-info {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 13px;
  margin-top: 2px;
  color: rgba(0,0,0,.44);
}

.story-show-details {
  margin-top: 20px;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.story-show-title {
  font-weight: 700;
  font-size: 40px;
  margin-left: -2.5px;
  line-height: 1.04;
  letter-spacing: -.028em;
}

.story-show-subtitle {
  margin-top: 15px;
  font-size: 27px;
  margin-left: -1.69px;
  line-height: 1.22;
  letter-spacing: -.022em;
  font-weight: 300;
  color: rgba(0,0,0,.44);
}

.story-show-image {
  margin-top: 43px;
}

.story-show-content {
  margin-top: 30px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-family: serif;
}

.story-show-footer {
  padding: 20px 20px 40px 20px;
  border-top: 1px solid rgba(0,0,0,.05);
  display: flex;
  font-size: 15px;
}

.footer-author {
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 4px;
}

.footer-description {
  line-height: 1.3;
  font-size: 14px;
  color: rgba(0,0,0,.6);
  margin-bottom: 4px;
}

.response-container {
  background: #fafafa;
  padding: 20px;
}

.response-contents {
  margin: 0 auto;
  max-width: 640px;
  padding-right: 20px;
  padding-left: 20px;
}

.response-text {
  font-size: 14px;
  color: rgba(0,0,0,.6);
  font-weight: 600;
}
