.story-index {

}

.index-item {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px 20px 15px 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}

.index-item-profile {
  display: flex;
  margin-bottom: 10px;
}

.index-item-author-info {
  display: flex;
}

.index-item-author-info > li {
}

.author-date-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.index-item-content {
  padding-bottom: 5px;
  // Do I need this?
  word-break: break-word;
  word-wrap: break-word;
}

.content-detail {

}

.content-detail > li {
}

.index-item-title {
  margin: 31px 0 0 0;
  font-size: 29px;
  margin-left: -1.81px;
  line-height: 1.04;
  letter-spacing: -.028em;
  color: rgba(0,0,0,.8);
}

.index-item-subtitle {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 23px;
  margin-left: -1.44px;
  line-height: 1.22;
  letter-spacing: -.022em;
  color: rgba(0,0,0,.44);
  font-weight: 400;
}

.index-item-image {
  // Transition and opacity?

}

.story-index-readmore {
  font-size: 12px;
  border-radius: 0;
  color: rgba(0,0,0,.44);
  vertical-align: baseline;
  text-align: left;
}

.story-avatar {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 0;
}
