.user-profile-container {
  max-width: 640px;
  padding: 20px;
  margin: auto;
}

  .top-side {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.05);
    margin-bottom: 40px;
  }

    .profile {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      // border-bottom: 1px solid rgba(0,0,0,.44);
    }

      .left-side {

      }

      .left-side-name {
        font-size: 32px;
      }

      .left-side-description {
        font-size: 16px;
        color: rgba(0,0,0,.6);
      }

      .right-side {

      }

      .profile-avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }

    .mini-nav {
      padding-top: 10px;
      align-self: center;
    }

    .mini-nav > ul {
      display: flex;
    }

  .bottom-side > div {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
  }
